<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322506052031-uqmebr9luad97tmgi8fs928hd0h2vm35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322506052031-uqmebr9luad97tmgi8fs928hd0h2vm35</string>
	<key>API_KEY</key>
	<string>AIzaSyDCfVQT9dlj0GtuAPutKowfwv22ZbiJGG4</string>
	<key>GCM_SENDER_ID</key>
	<string>322506052031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saessakFlutter</string>
	<key>PROJECT_ID</key>
	<string>saessak-73a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>saessak-73a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322506052031:ios:ee2a1f8c176d949aca110a</string>
</dict>
</plist>